@font-face {
  font-family: "Geist";
  src: url("@/assets/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("@/assets/fonts/Geist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("@/assets/fonts/Geist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-display: "Geist", system-ui, sans-serif;
}

html {
  overflow-y: auto;
  background-color: #f1f5f8;

  font-family: "Geist", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-width {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: calc((100% - 100vw) / 2);
}

.background-image {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bg-img-title {
  font-size: 24px;
  font-weight: bold;
}

.extension-bar .v-btn--variant-text .v-btn__overlay {
  background: rgba(255, 251, 0, 0.877);
}

.extension-bar .v-btn.v-btn--density-default {
  height: calc(var(--v-btn-height) + 4px);
}

.extension-bar .v-btn__overlay {
  background-color: currentColor;
  border-radius: initial;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
